// Colors
$light-background: #f6f7ff;
$basic-black: #1f1e25;
$basic-white: #ffffff;
$basic-grey: #707c87;
$accent-color: #2c36f2;
$button-hover-shadow: #690c79;
$gradient-dark: #2027b3;
$gradient-dark-2: #3841ff;
$spinner-basic: rgba(113, 139, 221, 0.3);
$spinner-accent: #807add;
$line-color: #c1c2ca;
$line-shadow: rgba(0, 0, 0, 0.25);

$main-font: "Roboto", "Arial", sans-serif;

$fix-width: 1170px;
$mobile-width: 320px;
