.currency-picker {
  position: relative;
  display: flex;
  flex-direction: column;
}

.currency-picker__button {
  position: relative;
  z-index: 2;
  display: block;

  width: 120px;

  margin-top: auto;

  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 18px;
  padding-right: 45px;
  cursor: pointer;

  background-color: $basic-white;

  border: 1px solid $basic-black;
  box-sizing: border-box;
  border-radius: 4px;
}

.currency-picker__caption {
  font-family: $main-font;
  font-size: 30px;
  line-height: 42px;
}

.currency-picker__icon-arrow {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.currency-picker__list {
  z-index: 1;
  position: absolute;
  top: calc(100% - 2px);
  display: none;

  margin: 0;
  padding: 0;

  width: 100%;
  box-sizing: border-box;
  list-style: none;
  background-color: $light-background;

  border: 1px solid $basic-black;
  border-top-color: transparent;
  border-radius: 0 0 4px 4px;
}

.currency-picker__btn-currency {
  display: block;

  cursor: pointer;
  width: 100%;
  background-color: transparent;
  border: none;

  font-family: $main-font;
  font-size: 30px;
  line-height: 42px;

  &--active {
    background-color: $accent-color;
    color: $light-background;
  }

  &:hover:not(.currency-picker__btn-currency--active) {
    background-color: $basic-grey;
  }
}

.currency-picker__button--active ~ .currency-picker__list {
  display: block;
}

.currency-picker__button--active .currency-picker__icon-arrow {
  transform: rotate(180deg) translateY(50%);
}
