.legal-address {
  display: flex;
  flex-direction: column;

  padding-right: 45px;
}

.legal-address__logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

.legal-address__text {
  margin: 0;

  @include footer-desc();
}
