.nav {
  display: flex;
  margin-left: auto;

  &__list {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.nav__item {
  &:last-child .nav__link {
    margin-left: 110px;
    padding-right: 0;
    padding-left: 60px;
  }

  &--login {
    position: relative;
  }

  &--active .nav__link {
    color: $accent-color;
  }
}

.nav__icon {
  &--login {
    position: absolute;
    left: 130px;
  }
}

.nav__link {
  display: block;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 12px;
  padding-right: 13px;

  font-family: $main-font;
  font-size: 16px;
  line-height: 19px;
  color: $basic-black;

  box-sizing: border-box;
  min-height: 90px;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $basic-grey;
  }

  &--login:hover .nav__icon,
  &--login:focus .nav__icon {
    fill: $accent-color;
  }

  &--login:active .nav__icon {
    fill: $basic-grey;
  }
}
